---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const response = await fetch('http://localhost:3000/todos');
const data = await response.json();
---

<Layout title="Welcome to Astro.">
	<ul>
		{data.map((item) => (
			<li>{item.title}</li>
		  ))}
	</ul>
</Layout>
